<launch>
  <!-- Arguments -->
  <arg name="waypoints_data_file" default="$(find turtlebro_navigation)/data/goals.xml"/>

  <!--Navigation -->
  <include file="$(find turtlebro_navigation)/launch/turtlebro_slam_navigation.launch">
    <arg name="open_rviz" value="False" />
  </include>

  <!-- Gmapping -->
  <node pkg="turtlebro_patrol" type="patrol.py" name="turtlebro_patrol" output="screen">
    <param name="waypoints_data_file" value="$(arg waypoints_data_file)"/>
  </node>
</launch>  